
* {
    box-sizing: border-box;
}

body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: column;
}



main {
display: flex;
flex: 1;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
padding: 20px;
transition:background-color .3s ease-in-out ;
}

.video-container {
flex: 1 1 45%;
max-width: 600px;
}

.info-container {
flex: 1 1 35%;
max-width: 600px;
}
