.video-container {
    display: grid;
    gap: 10px;
}
.video-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 1em ;
    background-color: hsl(0, 0%, 60%);
    cursor: pointer;
}
.video-title{
    font-size: 14px;
    color: white;
}
.sec-video{
    height: 120px;
    width: 250px;
}